{% extends "base.html" %}

{% block title %}Correo Enviado{% endblock %}

{% block content %}
<div class="row justify-content-center mt-5">
    <div class="col-md-6 col-lg-5">
        <div class="card shadow-sm text-center">
            <div class="card-body">
                <h4 class="card-title text-success mb-4"><i class="fas fa-envelope-open-text fa-2x"></i></h4>
                <h5>Revisa tu correo</h5>
                <p class="card-text mt-3">Te hemos enviado un correo electrónico con instrucciones para configurar tu contraseña. Deberías recibirlo en breve.</p>
                <p class="card-text text-muted"><small>Si no recibes un correo electrónico, asegúrate de que ingresaste la dirección con la que te registraste y revisa tu carpeta de spam.</small></p>
                <a href="{% url 'login' %}" class="btn btn-outline-primary mt-3">Volver al inicio de sesión</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
